.color1 {
    background-color: #FFFFFF;
}
.color2 {
    background-color: #E5E5E5;
}
.color3 {
    background-color: #1B263B;
}
.color4 {
    background-color: #000000;
}
.color5 {
    background-color: #415a77;
}
.color6 {
    background-color: #778da9;
}
.color7 {
    background-color: #0D1B2A;
}
.color8 {
    background-color: #274c77;
}
.bg{
    background: radial-gradient(circle at center, rgba(128, 0, 128, 0.5), transparent 70%), /* Lumière violette */
                radial-gradient(circle at 20% 40%, rgba(128, 0, 128, 0.3), transparent 60%), /* Lumière violette secondaire */
                radial-gradient(circle at 80% 60%, rgba(128, 0, 128, 0.3), transparent 60%), /* Lumière violette secondaire */
                #111; /* Couleur de fond sombre */
}
.bg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(128, 0, 128, 0.6), transparent 60%);
    transform: translate(-50%, -50%);
    filter: blur(150px); /* Effet de flou */
    z-index: -1; /* Met l'effet derrière tout le reste */
}